extends layout
block append vars
  -var title = "Home"
  -var pageid = "createHistory"
block append scripts
  script(src='/assets/javascripts/history.js')


block content
  main
    article
      div.event
        button.btnCreateHistory 新規作成
        h1.historyTitle
          input#historySubject(type="text" placeholder="歴史のタイトル")
        h2.eventTitle
          input(type="text" placeholder="イベントのタイトル")
        p.eventText
          textarea(placeholder="イベントの概要")
      div.eventNav
        i.eventLine
        ul
