extends layout
block append vars
  -var title = "History"
  -var pageid = "history"

block content
  main
    article
      div.event
        h1.historyTitle history_title
        h2.eventTitle event_title
        p.eventText event_text event_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_textevent_text
      div.eventNav
        ul
